<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Videos</title>
</head>
<body>


<div class="container">
  <h1 class="siteTitle">randomTube</h1>

  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
       <li><a href="/videos">Home</a></li>
       <li><a href="/videos/new">Post Video</a></li>
     </ul>
   </nav>

    <%= yield %>
  </div>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>