<!DOCTYPE html>
<html>
<head>
<% include ./partials/head %>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <title><% if(title){ %>
  <%= title %>
<% } %></title>
</head>
<body>
<% include ./partials/header %>

<h1><%= title %></h1>
<div id="message">
<% if(message){ %>
  <%= message %>
<% } %>
</div>
<% include ./partials/footer %>
</body>
</html>