<header>

<nav>
<a href="/">Home</a>
<a href="/about">About</a>  
</nav>
<div id="banner">
<img src="http://lvps217-8-253-226.vps.webfusion.co.uk/Shared/Images/banner_drinks.png" alt="banner">
</div>

</header>
