<ul id="quotes">
  <li>
    <blockquote>
      <% @quotes.each do |quote| %>
      <p><a href="/quotes/<%= quote.id%>"><%= quote.text %></a></p>
      <footer><%= quote.author %></footer>
      <% end %>
    </blockquote>
  </li>
</ul>

<nav>
  <a href="/quotes/new">Add a new quote</a>
</nav>