<ul id="quotes">
  <li>
    <blockquote>
      <% quotesArray.forEach(function(quoteId){ %>
      <p><%= quoteId.quote %></p>
      <footer><%= quoteId.author %></footer>
      <% }); %>
    </blockquote>
  </li>
</ul>

<nav>
  <a href="/quotes/new">Add A New Quote</a>
</nav>

