<ul id="quotes">
  <li>
    <blockquote>
      <p>A hard-coded quote</p>
      <footer>A hard-coded citation</footer>
    </blockquote>
  </li>
</ul>

<nav>
  <a href="/quotes/new">Add A New Quote</a>
</nav>
