<div class="row">
<% @videos.each do |video| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div class="iframe-container">
    <iframe width="300" height="169" src="https://www.youtube.com/embed/<%= video.url %>" frameborder="0" allowfullscreen></iframe>
    </div>  
      <div class="caption">
        <h3><%= video.title %></h3>
        <p><a href="/videos/<%= video.id %>" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
<% end %>
</div>