<p id="notice"><%= notice %></p>

<h1>Locations</h1>
<div class="card-deck-wrapper">
  <div class="card-deck">
  <%= render @locations %>
  </div>
</div>



<br>

<%= link_to 'New Location', new_location_path %>
