<h2>New Post</h2>

<form action="/posts" method="POST">
  
  <div class="form-group">
    <input name="post[title]" placeholder="Title" class="form-control">
  </div>

  <div class="form-group">
    <textarea name="post[description]" placeholder="Description" class="form-control"></textarea>
  </div>

  <div class="input-group form-group">
  <div class="input-group-addon">Date of Connection</div>
    <input type="date" name="post[date]" placeholder="Date: " class="form-control">
  </div>


  <div class="input-group form-group">
  <div class="input-group-addon">Time of Connection (24 hour format)</div>
    <input type="time" name="post[time]" placeholder="Time" class="form-control">
  </div>

  <p>Select the station(s) where you connected:</p>

  <% @lines.each do |line| %>
    <div class="col-md-6">
    <h4><%= line.name %></h4>
      <% line.stations.each do |s| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="post[station_ids][]" value="<%= s.id %>">
            <%= s.name %> 
          </label>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
  <input type="hidden" name="post[user_id]" placeholder="User" class="form-control" value="<%= @user_id %>">
  </div>

  <button class="btn btn-primary">Save</button>

</form>