<h1>New Student</h1>

<form method="POST">
  <div class="form-group">
    <input name="name" placeholder="Name" class="form-control">
  </div>
  <div class="form-group">
    <input name="twitter" placeholder="Twitter or LinkedIn URL" class="form-control">
  </div>
  <div class="form-group">
    <input name="github" placeholder="Github URL" class="form-control">
  </div>
  <div class="form-group">
    <input name="image" placeholder="Image URL" class="form-control">
  </div>
  <div class="form-group">
    <input name="portfolio" placeholder="Portfolio URL" class="form-control">
  </div>
  <div class="form-group">
    <textarea name="bio" placeholder="Bio" class="form-control"></textarea>
  </div>

  <button class="btn btn-primary">Create</button>
</form>
