
body {
background-image: url("http://www.intrawallpaper.com/static/images/White-Background-9B1.jpg");
background-size: cover;
background-repeat: no-repeat;
}

#buttonWrapper {
  margin: 0 auto;
  text-align:center;
}
button {
  font-size: 1em;
}

h1 {
  text-align:center;
}

#board td {
  width:150px;
  height: 150px;
  list-style: none;
  text-align:center;
  font-size: 6em;
  border-radius: 10px;
  font-family: 'Monoton', cursive;
}

#board td:hover {
   color: rgba(255, 255, 255, 1);
   box-shadow: 0 5px 15px rgba(97,175,194, .7);
}

tr.row1, tr.row2{
  border-bottom: 1px solid black;
}

div#grid {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

.xClass {
  background-color: #6CB7AD;
/*  transition: background-color 1.5s ease;*/
  color: white;
  animation: fadeSquare 1s ease;
}

.oClass {
  background-color: #F38F56;
  /*transition: background-color 1.5s ease;*/
  color: white;
  animation: fadeSquare 1s ease;
}

@keyframes fadeSquare {
  from { opacity: 0;
  }

  to {opacity: 1;
  }
}
