
body {
overflow: auto;
}

#buttonWrapper {
  margin: 0 auto;
  text-align:center;
}
button {
  font-size: 1em;
}

h1 {
  text-align:center;
}

#board td {
  width:150px;
  height: 150px;
  list-style: none;
  text-align:center;
  font-size: 6em;
  border-radius: 10px;
  font-family: 'Monoton', cursive;
}

tr.row1, tr.row2{
  border-bottom: 1px solid black;
}

div#grid {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
border-collapse: collapse;
border-spacing: 0px;
}

.xClass {
  background-color: #6CB7AD;
}

.oClass {
background-color: #F38F56;
}