*:focus {
  outline: none;
}

body {
background-image: url("http://www.intrawallpaper.com/static/images/White-Background-9B1.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
min-height: 700px;
}

#buttonWrapper, #playerTurn {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0px;
}

button {
  font-size: 1em;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(#eeba30, #D6A72B);
  box-shadow: 1px 1px 1px #8E6F1C;
  text-transform: uppercase;
}

h1 {
  text-align:center;
  font-weight: bold;
  font-size: 2em;
}

h1, h2, p, button {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  margin:0px;
}

#scoreTracker {
  padding-left: 50px;
}

#board td {
  width:150px;
  height: 150px;
  list-style: none;
  text-align:center;
  font-size: 6em;
  border-radius: 10px;
  font-family: 'Monoton', cursive;
}

#board td:hover {
   color: rgba(255, 255, 255, 1);
   box-shadow: 0 5px 15px rgba(97,175,194, .7);
}

tr.row1, tr.row2{
  border-bottom: 1px solid black;
}

div#grid {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 458px;
  height: 458px;
  margin: 0 auto;
}

.xClass {
  background-color: #6CB7AD;
  color: white;
  animation: fadeSquare 1s ease;
}

.oClass {
  background-color: #F38F56;
  color: white;
  animation: fadeSquare 1s ease;
}

@keyframes fadeSquare {
  from { opacity: 0;
  }

  to {opacity: 1;
  }
}

