<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Homework</title>
</head>
<% include ./partials/header %>
<body>
<%- body %>
</body>
<% include ./partials/footer %>
</html>