<h1>New</h1>

<form method="POST" action="/home">
  <label for="homeworkObject_image">Image URL</label>
  <input type="text" name="homework[image]">

  <label for="homeworkObject_caption">Caption</label>
  <input type="text" name="homework[caption]">

  <button>Create</button>
</form>