#calculator {
  width: 400px;
  padding: 25px;
  margin: 50px auto;

  border: 1px solid;
  border-radius: 5px;
}

#display {
  height: 75px;
  margin-bottom: 20px;

  border: 1px solid;
  border-radius: 5px;
  /*background-color:red;*/
}

#buttons {
  margin: 0 -10px;
}

button {
  width: 82px;
  height: 82px;
  margin: 10px;
  background-color: transparent;
  
  border: 1px solid;
  border-radius: 5px;
}