<h2>About This Site</h2>

<p>The London underground carries up to 4.8 million people per day. Perhaps one or more of these people could be just what you are looking for. Missed Connections offers you a second chance to reach out to that person you were too shy or otherwise unable to exchange contact details with.</p>