img {
width: 250px !important;
height: 250px !important;
background-position:center !important;
}

/*.card {
  border: 1px solid black;
  width: 320px;
  height: 280px;
  background-color: red;
}*/

/*body {
  background: lightblue;
}*/