body {
  background: url(http://img09.deviantart.net/5f10/i/2012/070/c/a/pokemon_background_by_baddarn-d4sel13.png) no-repeat center center fixed;
  background-size: cover;
}

.thumbnail {
  background: rgba(255, 255, 255, 0.0);
  border: none;
}

.thumbnail h3{
  color: white;
  text-shadow: 1px 1px 1px black;
}

ul.type {
 padding:0;
}

ul.type li {
  display:inline-block;
  list-style: none;
  margin-right:5px;
}

.Poison {
  background-color: #b97fc9;
}
.Grass {
  background-color: #9bcc50;
}

.Fire{
  background-color: #fd7d24;
}

.Water {
  background-color: #4592c4;
}

.Electric {
  background-color: #eed535;
}

.Ghost {
  background-color: #7b62a3;
}

.Psychic {
  background-color: #f366b9;
}

div.footer {
  height: 100px;
}

.Normal {
  background-color: #a4acaf;
}

.Northern {
  background-color:;
}

.Flying {
  background-color: #3dc7ef;
}

.error{
  color: red;
}

.imgContainer {
  height: 245px;
  width: 245px;
  text-align: center;
  margin:0 auto;
  overflow: visible;
}
.grow img { 
width: 90%; 
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
       -o-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}

.grow img:hover {
  width: 100%;
}

.navbar {
  border-radius: 0px;
  height: 60px;
  margin-top:-50px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.navbar:hover {
  margin-top: 0px;
}