<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<!-- jquery -->
<script   src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<!-- own stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />

  <title>Recipes</title>
</head>
<body>
  <div class="container">
  <h1>Food Website</h1>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/recipes">Home</a></li>
      <li role="presentation"><a href="/recipes/breakfast">Breakfast Recipes</a></li>
      <li role="presentation"><a href="/recipes/lunch">Lunch Recipes</a></li>
      <li role="presentation"><a href="/recipes/dinner">Dinner Recipes</a></li>
    </ul>
    <%= yield %>
  <div class="container">
</body>
</html>